body{
	width: 150px; 
	margin: 0; 
	padding: 0;
	overflow-x: hidden;
	-ms-overflow-style: none;
}
div{
	border-bottom: 3px dotted gray;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}
::-webkit-scrollbar {width: 0; height: 0; border: 0 solid #fff; }