header
{
	border: 5px solid black;
	min-height: 100px;
	width: 1230px;
}
nav
{
	border: 5px solid black;
	width: 150px;
	height: 400px;
	position: fixed;
	margin-top: 30px;
	z-index: 5;
}
nav div
{
	border-bottom: 3px dotted gray;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}
aside iframe
{
	border: 5px solid black;
	width: 150px;
	height: 400px;
	position: fixed;
	margin-top: 30px;
	z-index: 4;
	display: none;
}
section iframe
{
	border: 5px solid black;
	width: 900px;
	margin-left: 330px;
	margin-top: 30px;
	text-align: center;
	min-height: 400px;
}
section img
{
	width: 850px;
	max-height: 800px;
}
footer
{
	border: 5px solid black;
	margin-top: 30px;
	position: relative;
	min-height: 100px;
	width: 900px;
	margin-left: 330px;
}
.open
{
	margin-left: 155px;
	display: block;
	animation-name: open;
	animation-duration: 1s;
}
@keyframes open
{
	0% {margin-left: 0;}
	100% {margin-left: 155px;}
}