body {
    padding: 20px;
}
#list {
    overflow: auto;
    border: solid 1px;
    width: 400px;
    height: 400px;
    list-style: none;
    -webkit-padding-start: 0px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#list li {
    padding: 20px;
    border: solid 1px;
    border-color: #ddd;
    border-width: 1px;
}
#list li.selected{
    background-color: #B8D0E6;
}
#list li:hover {
    cursor: pointer;
}
.div-name {
    display: inline-block;
    width: 260px;
}
.div-date{
    display: inline-block;
    width: 90px;
}
.edit-content {
    width: 500px;
}
#div-list {
    padding: 20px;
    display: inline-block;
}
#div-add {
    padding: 20px;
    width: 500px;
}
#div-edit {
    padding: 20px;
    padding-top: 50px;
    display: inline-block;
    vertical-align: top;
}
#div-edit.hide {
    display: none;
}