<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<html >
  <head>
    <title>메모 리스트</title>
    <style type="text/css">
        daytext {position:relative; left:100px;}
        back {position:relative; top:50px; left:-650px;}
    </style>
    <script src="js/modernizr.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width"> 
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <SCRIPT LANGUAGE="JavaScript">
        var day = location.href.split('?')[1]
        document.write("<font color='blue' size='7'><daytext>"+day.split('.')[0] + "년 " + day.split('.')[1] + "월 " + day.split('.')[2] + "일"+"</daytext></font>")
    </SCRIPT>
  </head>
  <body>
      <back><a href='file:///C:/Users/jeon/noteapp/public/index.html'><img src="back.png" width="100" height="100" alt="뒤로가기"></a></back>
    <div ng-app="jota" class="app">
        <div ng-controller="notesController">
        <span class="icons">
            <button type="button" class="btn-success" ng-click="addNote()">새 메모</button>
        </span>
            <div class="note" ng-repeat="note in notes | orderBy:'createdOn':true track by $index">
                <span class="date">{{note.createdOn | date:"EEEE dd MMMM, yyyy 'at' h:mma"}}</span>
                <span class="icons">
                <img src="img/check_128.png" height="15px" width="15px"  ng-if="note.edit == false"></img>
                <img src="img/pencil.png" height="15px" width="15px"  ng-if="note.edit == true"></img>
                <img src="img/bin.png" height="15px" width="15px"  ng-click="delete(notes.length - $index - 1)"></i></span>
                <div class="markdown-body" ng-model="note.text" ng-change="update(notes.length - $index - 1,note.text)" ng-focus="note.edit = true" ng-blur="note.edit = false" markdown-editable contenteditable="true">{{ note.text }}</div>
            </div>
        </div>
    </div>
    <script src='js/angular.min.js'></script>
    <script src='js/angular-markdown-editable.js'></script>
    <script src="js/script.js"></script>   
  </body>
</html>
