section iframe
{
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,1));
	border: 5px solid black;
	border-radius: 20px;
	width: 1050px;
	margin-left:50px;
    margin-right:50px;
	margin-top: 30px;
	text-align: center;
	min-height: 400px;
   
}
section img
{
	width: 850px;
	max-height: 1000px;
}
#kor, #eng{
	width: 70px;
	color: white;
}